{% extends 'pages/index.html' %}
{% load static %}
{% block content %}

<image alt="logo2" width="1894" height="1080" class="boutlogo" src="{% static 'images/jilsht.jpg'%}"></image>


<div class="centered">
    <h1>About Us</h1> 
    <p>

        Eatflix is a one of the top streaming sites that is still growing where you can watch by just subscribing to our membership.
        <br />You can binge-watch your favorite movies, tv series, and documentaries, watch with friends, family, or with your partner.
        <br />When you want to binge-watch while eating, Eatflix is a streaming site where you want to watch.
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </p>

</div>
{% endblock %}