{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Eatflix </title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/marby.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/addtocart.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="header">
        <p class="logo"><a href="http://127.0.0.1:8000/"> <i class="fa-solid fa-arrow-left"></i></a> </p>
        <div class="cart"><i class="fa-solid fa-cart-shopping"></i><p id="count">0</p></div>
    </div>
    <div class="container">
        <div id="root"></div>
        <div class="sidebar">
            <div class="head"><p>My Cart</p></div>
            <div id="cartItem">Your cart is empty</div>
            <div class="foot">
                <h3>Total</h3>
                <h3 id="total">$ 0.00</h3>
            </div>
        </div>
    </div>
    <script src="{% static 'js/script.js'%}"></script>
</body>
</html>
