{% load static %}

<body bgcolor="black">
    <header>
        <nav class="navbar sticky-top navbar-light bg-light">
            <a href="http://127.0.0.1:8000">
                <image alt="logo" width="80" height="80" class="d-inline-block align-text-top" src="{% static 'images/marby1.png'%}"></image>
            </a>
            <ul>
                <li><a href="http://127.0.0.1:8000/movies">Movies</a></li>
                <li><a href="http://127.0.0.1:8000/food">Food</a></li>
                <li><a href="http://127.0.0.1:8000/about">About Us</a></li>
                <li><a href="http://127.0.0.1:8000/contact">Contact</a></li>
                <li><a href="http://127.0.0.1:8000/subscription">Subscribe</a></li>
            </ul>
           
        
        </nav>

    </header>
</body>
  

